#workout-log {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

th {
    background-color: white;
}

#hero-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#hero-button:hover {
    background-color: orangered;
}